<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomMate Flipcart" verbose="1" >
  <test name="Flipcart Test Cases" >
    <classes>
      <class name="com.flipcart.testcases.LoginPageTest"/>
      <class name="com.flipcart.testcases.HomePageTest"/>
      <class name="com.flipcart.testcases.MobilePageTest"/>
    </classes>
 </test>
</suite>